/.gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
/.idea
.idea/*

/build/*
app/src/main/resources/config/application.yml
/client/build
/signal/build
/proto/build


/app/src/main/resources/config/application.yml


logs/*
/logs/*
